{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <div class="container">

        {% block bugtracker_body %}

        {% endblock %}

    </div>
{% endblock %}

